{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Foro UPSIN{% endblock %}</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
</head>

<body>

    <header class="header">

        <a href="{% url 'index' %}" class="header-logo">

            <div class="header-logo">
                <img src="{% static 'img/logo.png' %}" alt="logo" class="header-logo-icon">
                <h1 class="header-title">Foro estudiantil</h1>
            </div>
        </a>
            
        <div class="header-container">

            <form method="GET" action="{% url 'busqueda' %}" class="searchbar">
                <div class="searchbar-content">

                    <div >
                        <input type="text" name="q" placeholder="Buscar tarea o examen..." value="{{ values.q }}" class="searchbar-input">
                    </div>
                    
                    <div class="searchbar-filters">
                        
                        <div>
                            <select name="categoria">
                                <option value="">Todas las Materias</option>
                                {% for cat in categorias %}
                                <option value="{{ cat.id }}" {% if values.categoria == cat.id|slugify %}selected{% endif %}>
                                    {{ cat.nombre }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div>
                            <select name="carrera">
                                <option value="">Todas las Carreras</option>
                                {% for car in carreras %}
                                <option value="{{ car.id }}" {% if values.carrera == car.id|slugify %}selected{% endif %}>
                                    {{ car.nombre }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        
                    </div>

                </div>
                    
                <button type="submit" class="btn btn-primary searchbar-button">Buscar</button>
            </form>
        </div>

        <div class="header-conteiner-right">
            {% if user.is_authenticated %}
            <span class="text-white me-3">Hola, {{ user.username }}</span>
            <a href="{% url 'crear-post' %}">Nuevo post</a>

            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Salir</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Entrar</a>
            <a href="{% url 'registro' %}" class="btn btn-primary btn-sm">Registrarse</a>
            {% endif %}
        </div>


    </header>
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'categorias' %}">Categorias</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'carreras' %}">Carreras</a></li>
        </ul>
    </nav>

    <div class="body">

        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
        
        <aside class="sidebar">

            <div class="stats-card">
                <div class="card-header">
                    <h3>Comunidad en cifras</h3>
                </div>
                <div class="stat-item">
                    <p>Estudiantes</p>
                    <p class="stat-value">{{ total_users }} </p>
                </div>
                <div class="stat-item">
                    <p>Discusiones</p>
                    <p class="stat-value">{{ total_post }}</p>
                </div>
                <div class="stat-item">
                    <p>Actividad hoy</p>
                    <p class="stat-value">{{ daily_activity }}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Trending posts
                </div>
                <div class="card-content">
                    {% for post in trending_posts %}
                        <div class="trending-posts">
                            <a class="trending-title" href="{% url 'post' post.id %}">
                                {{ post.titulo }}
                            </a>
                            <p class="trending-stats">
                                {{ post.num_respuestas }} respuestas
                            </p>
                        </div>
                    {% empty %}
                    <p>Aun no hay posts disponibles</p>
                    {% endfor %}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <p>Enlaces utiles</p>
                </div>
                <div class="card-content">
                    <ul class="enlaces">
                        <li>
                            <a href="" class="enlaces-item">Recursos academicos</a>
                        </li>
                        <li>
                            <a href="" class="enlaces-item">Calendario de eventos</a>
                        </li>
                        <li>
                            <a href="" class="enlaces-item">Reglas de la comunidad</a>
                        </li>
                        <li>
                            <a href="" class="enlaces-item">Centro de ayuda</a>
                        </li>
                    </ul>
                </div>
            </div>

        </aside>
    </div>
    <footer> </footer>
</body>

</html>