{% extends "base.html" %}

{% block title %} {{post.titulo}}{% endblock %}

{% block content %}
    {% include "post_template.html" %}

    <div class="card">

        <div class="card-header">
            <h2>Respuestas</h2>
            <a href="{% url 'respuesta' post.id %}" class="btn btn-primary btn-sm">Nueva respuesta</a>
        </div>
        {% for respuesta in respuestas %}
        <div class="card-header">
            <h3> {{respuesta.autor}} </h3>
            <p> {{respuesta.contenido}} </p>
        </div>
            {% empty %}
            <div class="card-header">
                <p>Aun no hay respuestas</p>
            </div>
            {% endfor %}
    </div>

{% endblock %}